
{% block footer %}
    <div class="footer row m-5">
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('cash_flow') }}"> Vente </a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg ">Publicité Distribution</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg ">Production</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg ">Ressources Humaines</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg ">Gestion Financière</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg ">Information Général</a>
    </div>


{% endblock %}
