{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('cash_flow') }}">Trésorie</a>
    </div>
    <div>
        <a href="{{ path('balance_sheet') }}">Bilan</a>
    </div>
    <div>
        <a href="{{ path('profit_loss_account') }}">profit_loss_account</a>
    </div>




{% endblock %}
