<form method="post" action="{{ path('factory_delete', {'id': factory.id}) }}" onsubmit="return confirm({{ 'button.confirm.delete.factory' | trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factory.id) }}">
    <button class="btn">{{ 'button.delete' | trans }}</button>
</form>
