{% extends 'base.html.twig' %}

{% block title %}New Factory{% endblock %}

{% block body %}
    <h1>Create new Factory</h1>

    {{ include('factory/_form.html.twig') }}

    <a href="{{ path('player_production') }}">back to list</a>
{% endblock %}
