.btn {
  background: silver;
  border: black 5px solid;
  border-radius: 10px;
  transition: 1s;
}

.btn:hover{
  background: gray;
  font-weight: bold;
  color: white;
  border: white 5px solid;
}


footer{
  .btn{
    height: 100px;
  }
}


