footer{
  background: black;

  div{
    padding: 50px;
  }
  .btn {
    background: silver;
    //box-shadow: 5px 0 black;
    //box-shadow: -5px 0 black;
    height: 100px;
    border: black 5px solid;
    border-radius: 10px;
  }

  .btn:hover{
    background: gray;
    //box-shadow: -5px 0 black;

  }
}
