header{
  background: black;
  padding-top: 5px;
  padding-bottom: 5px;

  .elem-center{
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
  }

  img{
    width:100%;
    display: flex;
    align-self: center;
  }

  img:after{
    content: "Votre partenaire confiance";
    background-color: white;

  }

  .background-white{
    background: white;

  }

  .text-logo-color{
    color: hsl(180, 100%, 75%);
    font-weight: bold;
  }

  .titre-header{
    color: white;
    font-weight: bold;
  }
}
