
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: x-small;
  width: 90%;
  box-shadow: 20px 10px 10px 0 $color-shadow-box;
  //margin: auto;
  margin-top: 2rem;


  tr.resultat {
    border: black 3px solid;
    background: $color-table-result;
  }

  tr:nth-child(2n) {
    background-color: $color-table-even;
  }

  tr:nth-child(2n+1) {
    background-color: $color-table-odd;
  }

  td.productionLignColor{
    background-color: #80bdff;
  }
}

.col-année-n{
  background: $color-table-year-N;
}

.col-année-n-1{
  background: $color-table-year-N-1;
}


.total-intermediaire{
  background: $color-table-total-intermediaire;
}

.total-intermediaire-benefice{
  background: $color-table-total-intermediaire;

}

.col-interdit{
  background: black;
  color: white;
}

.rowspan{
  writing-mode:tb-rl;
  background-color: white;
  min-width: 3rem;
  vertical-align:middle;
  text-align: center;



}

.col-titre-tresorie{
  background: $color-table-titre-1-tresorie;
}

.col-titre-2-tresorie{
  color: $color-table-titre-2-tresorie;
}
