$color-primary : #e95200;
$color-text : #212529;
$color-shadow-box : hsla(100, 10%, 10%, 0.8);


//Couleur des tableaux
$color-table-even : #f3f3f3;
$color-table-odd : #e3e3e3;
$color-table-total-intermediaire : darkgrey;
$color-table-odd : #e3e3e3;
$color-table-result : silver;
$color-table-year-N : azure;
$color-table-year-N-1 : blanchedalmond;
$color-table-titre-1-tresorie : cornflowerblue;
$color-table-titre-2-tresorie : brown;




$orange-200 : #ce8600;

$title-font : "Folkard";
$text-font : "Comfortaa";

$font-path : '../fonts';
$img-path : '../img';

