{% extends 'base.html.twig' %}

{% block title %}Edit Socity{% endblock %}

{% block body %}
    <h1>Edit Socity</h1>

    {{ include('socity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('socity_index') }}">back to list</a>

    {{ include('socity/_delete_form.html.twig') }}
{% endblock %}
