{% extends 'base.html.twig' %}

{% block title %}{{ 'template.socity.new.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.socity.new.h1' | trans }}</h1>

    {{ include('socity/_form.html.twig') }}

{% endblock %}
