{% extends 'base.html.twig' %}

{% block title %}Edit BalanceSheet{% endblock %}

{% block body %}
    <h1>Edit BalanceSheet</h1>

    {{ include('balance_sheet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('balance_sheet_index') }}">back to list</a>

    {{ include('balance_sheet/_delete_form.html.twig') }}
{% endblock %}
