<form method="post" action="{{ path('production_order_delete', {'id': production_order.id}) }}" onsubmit="return confirm({{ 'button.confirm.delete.production' | trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ production_order.id) }}">
    <button class="btn">{{  'button.delete' | trans }}</button>
</form>
