{% extends 'base.html.twig' %}

{% block title %}{{  'template.game.fast.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{  'template.game.fast.h1' | trans }}</h1>

    {{ include('game/_form.html.twig') }}

{% endblock %}
