<form method="post" action="{{ path('purchase_order_delete', {'id': purchase_order.id}) }}" onsubmit="return confirm({{ 'button.confirm.delete.purchaseorder' | trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_order.id) }}">
    <button class="btn">{{  'button.delete' | trans }}</button>
</form>
