<form method="post" action="{{ path('production_director_new') }}" onsubmit="return confirm('Are you sure you want to recrute an factory director?');">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New factory Director</button>
</form>
