<form method="post" action="{{ path('researcher_new') }}" onsubmit="return confirm('Are you sure you want to recrute an researcher?');">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New researcher</button>
</form>
