{% block body %}
    <h1>Researcher index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>ResearchActivity</th>
            </tr>
        </thead>
        <tbody>
        {% for researcher in researchers %}
            <tr>
                <td>{{ researcher.salary }}</td>
                <td>{{ researcher.formation }}</td>
                <td>{{ researcher.exprience }}</td>
                <td>{{ researcher.researchActivity }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
