{% extends 'base.html.twig' %}

{% block title %}Hello CashFlowController!{% endblock %}

{% block body %}

    <TABLE ALIGN="center" BORDER="05">
        <CAPTION> TRÉSORIE </CAPTION>
        <tr>
            <TH colspan="13"><H1>PLAN DE TRÉSORIE ANNÉE N</H1></TH>
        </tr>
        <TR>
            <TD colspan="1"></TD>
            <TD colspan="1">Janvier N</TD>
            <TD colspan="1">Fevrier N</TD>
            <TD colspan="1">MARS N</TD>
            <TD colspan="1">AVRIL N</TD>
            <TD colspan="1">MAI N</TD>
            <TD colspan="1">JUIN N</TD>
            <TD colspan="1">JUILLET N</TD>
            <TD colspan="1">AOÛT N</TD>
            <TD colspan="1">SEPTEMBRE N</TD>
            <TD colspan="1">OCTOBRE N</TD>
            <TD colspan="1">NOVENBRE N</TD>
            <TD colspan="1">DECEMBRE N</TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">1 - ENCAISSEMENTS</TH>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Encaissement Ventes </TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Hors Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Apport en capital </TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Emprunts à moyen et long terme </TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">credit de TVA</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">escompte lettre de change </TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">cession d'immobilisation</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR class="resultat">
            <TH colspan="1">A. TOTAL ENCAISSEMENTS</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <tr>
            <TH colspan="13" class="col-titre-tresorie">2 - TRÉSORIE ANNÉE N-1</TH>
        </tr>
        <TR class="resultat">
            <TH colspan="1">Solde trésorie année précédente</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">3 - DÉCAISSEMENTS</TH>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Achats matières</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Achats de marchandises</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Autres achats et fournitures</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Charges externes/autres charges externes</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Impôts et taxes</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Frais de personnel</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Charges financières</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">tva à decaisser</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Hors Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Investissements incorporels</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Investissements corporels</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="1">Remboursement d'emprunts </TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR class="resultat">
            <TH colspan="1">B. TOTAL DÉCAISSEMENTS</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">4 - SOLDES DU MOIS</TH>
        </TR>
        <TR class="resultat">
            <TH colspan="1">A - B</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">SOLDES FIN DE MOIS</TH>
        </TR>
        <TR class="resultat">
            <TH colspan="1">2 + 4</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
    </TABLE>
{% endblock %}
