<form method="post" action="{{ path('sales_man_director_new') }}">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New salesman director</button>
</form>
