{% extends 'base.html.twig' %}

{% block title %}New SalesManDirector{% endblock %}

{% block body %}
    <h1>Create new SalesManDirector</h1>

    {{ include('sales_man_director/_form.html.twig') }}

    <a href="{{ path('sales_man_director_index') }}">back to list</a>
{% endblock %}
