<form method="post" action="{{ path('technician_new') }}">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">{{  'template.technician.form.new' | trans }}</button>
</form>
