<form method="post" action="{{ path('technician_new') }}" onsubmit="return confirm('Are you sure you want to recrute an technician?');">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New Technician</button>
</form>
