{% extends 'base.html.twig' %}

{% block title %}New ReseachOrder{% endblock %}

{% block body %}
    <h1>Create new ReseachOrder</h1>

    {{ include('reseach_order/_form.html.twig') }}

    <a href="{{ path('reseach_order_index') }}">back to list</a>
{% endblock %}
