<form method="post" action="{{ path('loan_delete', {'id': loan.id}) }}" onsubmit="return confirm('{{ 'button.confirm.delete.loan' | trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loan.id) }}">
    <button class="btn">{{ 'button.delete' | trans }}</button>
</form>
