{% extends 'base.html.twig' %}

{% block title %}New Loan{% endblock %}

{% block body %}
    <h1>Create new Loan</h1>

    {{ include('loan/_form.html.twig') }}

    <a href="{{ path('player_financial') }}">back to list</a>
{% endblock %}
