<form method="post" action="{{ path('administration_new') }}">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">{{ 'template.administration.form.admin' | trans }}</button>
</form>
