<form method="post" action="{{ path('publicity_order_delete', {'id': publicity_order.id}) }}" onsubmit="return confirm({{ 'button.confirm.delete.publicityorder' | trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicity_order.id) }}">
    <button class="btn">{{ 'button.delete' }}</button>
</form>
