{% extends 'base.html.twig' %}

{% block title %}Edit PublicityOrder{% endblock %}

{% block body %}
    <h1>Edit PublicityOrder</h1>

    {{ include('publicity_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_publicity') }}">back to list</a>

    {{ include('publicity_order/_delete_form.html.twig') }}
{% endblock %}
