<form method="post" action="{{ path('researcher_director_new') }}" onsubmit="return confirm('Are you sure you want to recrute an administrative?');">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New researcher director</button>
</form>
