<form method="post" action="{{ path('researcher_director_new') }}">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">New researcher director</button>
</form>
