<form method="post" action="{{ path('sales_man_particular_new') }}">
    <input type="hidden" name="_method" value="NEW">
    <button class="btn btn-sm btn-block">{{  'template.salesparticulier.form.new' | trans }}</button>
</form>
