{% extends 'base.html.twig' %}

{% block title %}Edit SalesManParticular{% endblock %}

{% block body %}
    <h1>Edit SalesManParticular</h1>

    {{ include('sales_man_particular/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sales_man_particular_index') }}">back to list</a>

    {{ include('sales_man_particular/_delete_form.html.twig') }}
{% endblock %}
