<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/scss.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        {%  block header %}
            {% include 'header/index.html.twig' %}

        {% endblock %}
    </header>

        {% block body %}
        {% endblock %}

        <footer>
            {%  block footer %}
                {% include 'footer/index.html.twig' %}

            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
