<!DOCTYPE html>
{% dump %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}        {% endblock %}
    </head>
    <body>
    <header>
        {%  block header %}
            {% include 'header/index.html.twig' %}
        {% endblock %}
    </header>

    <div class="p-2">
        {% block body %}
        {% endblock %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}

    {%  else %}
        <footer>
            {%  block footer %}
                {% include 'footer/index.html.twig' %}

            {% endblock %}
        </footer>
    {% endif %}

        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
